@media (max-width: 768px) {
    body {
        display: block;
    }

    body > .hamburger {
        display: inline-block;
    }

    body > aside {
        z-index: 1000;
        transform: translateX(-100%);
        transition: 0.4s;
    }

    body > section {
        margin-left: 0;
    }

    body.slide > aside {
        transform: translateX(0);
    }

    body.slide > .backdrop {
        display: block;
    } 
}