body {
    position: relative;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
}

body > aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    overflow: auto;
    background-color: #083751;
    color: white;
    text-align: center;

    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > aside ul {
    padding: 0;
    list-style: none;
}

body > aside ul > li {
    margin: 20px 0;
}

body > section {
    padding: 40px;
    margin-left: 250px;
    box-sizing: border-box;
    
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > section > header {
    text-align: center;
}

body > section > footer {
    font-size: 14px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > section > .articles, body > section > footer {
    width: 100%;
    max-width: 600px;
}

body > .hamburger {
    font-weight: bold;
    transform: rotate(90deg);
    position: fixed;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    color: #083751;
    cursor: pointer;
    display: none;
}

body > .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: none;
}

.next, .prev {
    text-align: center;
    margin: 20px 0;
    display: none;
}

.show {
    display: block;
}