body {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

body > aside {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    overflow: auto;
    background-color: #083751;
    color: white;
    text-align: center;

    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > aside > .me {
    flex-shrink: 0;
    flex-grow: 0;
}

body > aside > nav {
    flex-grow: 1;
}

body > aside ul {
    padding: 0;
    list-style: none;
}

body > aside ul > li {
    margin: 40px 0;
}

body > section {
    padding: 40px;
    margin-left: 250px;
    box-sizing: border-box;
    
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > section img {
    border: 5px solid black;
    box-sizing: border-box;
}

body > section > header {
    text-align: center;
}

body > section > footer {
    font-size: 14px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > section > .article, body > section > footer {
    width: 100%;
    max-width: 600px;
}

body > .hamburger {
    font-weight: bold;
    transform: rotate(90deg);
    position: fixed;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    letter-spacing: 3px;
    color: #083751;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: 0.4s;
}

body > .hamburger:hover, body > .hamburger:active {
    transform: rotate(0);
}

body > .backdrop {
    position: fixed;
    width: 100vw;
    height: 100%;
    background: linear-gradient(#6FDBCF, #F2A7D9 ,#F4D84C);
    opacity: 0.6;
    display: none;
    z-index: 999;
}

.next, .prev {
    text-align: center;
    margin: 20px 0;
    display: none;
}

.show {
    display: block;
}

.chart {
    position: relative;
    width: 100%;
    height: 400px;
}

.chart:before {
    content: "loading chart...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0.4;
}

.chart div {
    width: initial;
}

.pre-fetch p {
    font-size: 0.6em;
    text-align: center;
    color: #083751;
}

.loader {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    vertical-align: bottom;
}

.loader > .one, .loader > .two, .loader > .three {
    width: 18px;
    height: 40px;
    margin: 0 3px;
    animation-duration: 2.6s;
    animation-iteration-count: infinite;
}

.loader > .one {
    animation-name: loader-one;
    background-color: #F2A7D9;
}

.loader > .two {
    animation-name: loader-two;
    background-color: #6FDBCF;
}

.loader > .three {
    animation-name: loader-three;
    background-color: #F4D84C;
}

@keyframes loader-one {
    0% { height: 10px; }
    45% { height: 10px; }
    50% { height: 40px; }
    96% { height: 40px; }
    100% { height: 10px; }
}

@keyframes loader-two {
    0% { height: 15px; }
    50% { height: 15px; }
    55% { height: 40px; }
    96% { height: 40px; }
    100% { height: 15px; }
}

@keyframes loader-three {
    0% { height: 20px; }
    55% { height: 20px; }
    60% { height: 40px; }
    96% { height: 40px; }
    100% { height: 20px; }
}